In [7]:
import pandas as pd

data=[10,20,30,40]
index=['월','화','수','목']
s=pd.Series(data,index)
s

월    10
화    20
수    30
목    40
dtype: int64

In [10]:
print(s.iloc[0])
print(s.iloc[2])
print(s.iloc[-1])

10
30
40

In [12]:
print(s.loc['월'])
print(s.loc['화'])
print(s.loc['수'])

10
20
30

In [16]:
s['월']

10

In [17]:
s[0]

C:\Users\hlji6\AppData\Local\Temp\ipykernel_25936\243613605.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

10

In [21]:
s.iloc[0:2]

월    10
화    20
dtype: int64

In [20]:
s.loc['월':'수']

월    10
화    20
수    30
dtype: int64

In [23]:
target=[0,2]
print(s.iloc[target])

월    10
수    30
dtype: int64

In [24]:
target=['월','수']
print(s.loc[target])

월    10
수    30
dtype: int64

### series 값추가
```
data=[10,20,30,40]
index=['월','화','수','목']
s=pd.Series(data,index)
s
```
240614

In [5]:
data=[10,20,30]
index=['월','화','수']
a=pd.Series(data,index)
a

월    10
화    20
수    30
dtype: int64

In [6]:
a.loc[' 목']=40
a

월    10
화    20
수    30
목    40
dtype: int64

### Series 삭제

In [7]:
#단, 삭제표시만되고 실제 안바뀜. -> loc와 iloc와의 차이점.
#만약 직접 적용하고 싶으면 a.drop("화",inplace=True) 라고 inplace를 추가.
a.drop("화")

월    10
수    30
목    40
dtype: int64

In [21]:
#한꺼번 삭제도 가능, 
a.drop(['월',"화"])

수    3000
목      40
dtype: int64

In [13]:
a #원본은 안바뀐 상태

월    10
화    20
수    30
목    40
dtype: int64

### Series 수정

In [18]:
a.iloc[0]=1000
a.loc['수']=3000
a

월    1000
화      20
수    3000
목      40
dtype: int64

In [19]:
a

월    1000
화      20
수    3000
목      40
dtype: int64

### Broadcasting

In [25]:
a=pd.Series([10,20,30]) #판다스 시리즈 생성
a+100

0    110
1    120
2    130
dtype: int64

In [26]:
b=pd.Series([5,5,5])
a+b

0    15
1    25
2    35
dtype: int64

### Broadcating- index기준
인덱스를 입력하면 입력인덱스 기준으로 합쳐짐 (순서인덱스와 상관없이.)

In [28]:
a=pd.Series(data=[10,10,10],index=['빨','주','노'])
b=pd.Series(data=[10,10,10],index=['빨','주','초'])

In [29]:
a+b

노     NaN
빨    20.0
주    40.0
초     NaN
dtype: float64